@model IEnumerable<L01P02_2020ML603_BLOG.Models.calificaciones>

@{
    ViewData["Title"] = "Index";
}

<h1>Administración de Calificaciones</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.publicacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.publicacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calificacion)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.calificacionId">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.calificacionId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.calificacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
